
/* 9. section heading */
h2.section-heading-all {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.05rem;
    color: var(--txtLight);
    margin: -.6rem 0 -.7rem 0;
    padding: 0;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 2;
    }
    
    @media only screen and (max-width: 1199px) {
      h2.section-heading-all {
        font-size: 1.7rem;
      }
    }
    
    @media only screen and (max-width: 960px) {
      h2.section-heading-all {
        font-size: 1.6rem;
      }
    }
    
    @media only screen and (--maxSm) {
      h2.section-heading-all {
        font-size: 1.5rem;
        margin: -.6rem 0 -.6rem 0;
      }
    }
    
    @media only screen and (max-width: 768px) {
      h2.section-heading-all.section-heading-news {
        padding: 0 25px;
      }
    }
    
    h2.section-heading-all span {
    position: relative;
    display: inline-block;
    padding-right: 75px;
    margin-right: 25px;
    line-height: 1;
    color: #b2b2b2;
    }
    
    @media all and (min-width: 1920px) {
      h2.section-heading-all span {
        padding-right: 90px;
        margin-right: 30px;
      }
    }
    
    @media only screen and (max-width: 995px) {
      h2.section-heading-all span {
        padding-right: 60px;
        margin-right: 20px;
      }
    }
    
    @media only screen and (max-width: 640px) {
      h2.section-heading-all span {
        padding-right: 30px;
        margin-right: 10px;
      }
    }
    
    h2.section-heading-all span:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: 50px;
    height: 0;
    margin-top: -1px;
    border-top: 1px solid #b2b2b2;
    }
    
    @media all and (min-width: 1920px) {
      h2.section-heading-all span:before {
        width: 60px;
      }
    }
    
    @media only screen and (max-width: 995px) {
      h2.section-heading-all span:before {
        width: 40px;
      }
    }
    
    @media only screen and (max-width: 640px) {
      h2.section-heading-all span:before {
        width: 20px;
      }
    }
    
/* 17. headers */
h1,
h2,
h3,
h4,
h5,
h6 {
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
line-height: 170%;
margin: 0 0 20px 0;
}

h6.services,
h6.contact {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
text-align: left;
letter-spacing: 0.05em;
color: #b2b2b2;
margin: -4px 0 19px 0;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.awesome {
color: var(--brandPrimary);
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.col-services .awesome,
.col-contact .awesome {
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

.col-services:hover .awesome,
.col-contact:hover .awesome {
color: var(--brandSecondary);
cursor: poiner;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

