.loader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      .fa-spinner{
      font-size: 66px;
      color: white;
      animation: rotation 2s infinite linear;
    }
  }
  
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }